<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img [src]="UrlImagen" alt="Img_Clima" width="300px" height="300'x">
        </div>
        <div class="col-lg-6 mt-4">
            <input [(ngModel)]="Ciudad" class="form-control mr-sm-2 size" type="text" placeholder="Buscar Ciudad">
            <button type="button" class="btn btn-primary btn-block  mt-4 size" [disabled]="Ciudad == ''" (click)="ObtenerClima()">Buscar</button>

            <div class="text-center mt-3" *ngIf="Loading">
                <div class="spinner-border text-dark" role="status">
                </div>

            </div>
            <div class="card text-white bg-primary mt-3 size mb-3" *ngIf="Tarjeta">
                <div class="card-header ">Resultado</div>
                <div class="card-body ">
                    <div class="card-text ">
                        <p><b>Nombre : </b>{{Nombre}}</p>
                        <p><b>Temperatura : </b>{{Temperatura | number}}</p>
                        <p><b>Humedad : </b>{{Humedad}}</p>
                        <p><b>Clima : </b>{{Clima}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>