<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img [src]="UrlImagen" alt="Img_Clima" width="300px" height="300'x">
        </div>
        <div class="col-lg-6 mt-4">
            <input [(ngModel)]="Ciudad" class="form-control mr-sm-2 size" type="text" placeholder="Buscar Ciudad">
            <button type="button" class="btn btn-primary btn-block  mt-4 size" [disabled]="Ciudad == ''" (click)="ObtenerClima()">Buscar</button>
            <div class="card mt-3">
                <div class="card-body">
                    <p><b>Temperatura : </b>27 </p>
                    <p><b>Humedad : </b>27 </p>
                    <p><b>Clima : </b>27 </p>
                </div>
            </div>
        </div>
    </div>
</div>