/* You can add global styles to this file, and also import other style files */
.titulo
{
    font-family: 'Nerko One', cursive;
    font-size: 6rem;
}
body
{
    background:url('./assets/Img/FondoMichi.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
