<div class="container mt-4">
    <div class="col-lg-12 text-center">
        <div class="form-control">
            <label>
                Ingrese una Cantidad
            </label>
            <input id="cantidad"type="number" class="form-control form-control lg" placeholder="Ingrese la Cantidad Aqui...">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center mt-4">
            <label class="m-4">
                Tengo 
            </label>
            <select class="form-select form-select-lg mb-3" id="tengo">
                <option value="1">USD</option>
                <option value="2">LIBRA</option>
                <option value="3">EURO</option>
              </select>
        </div>
        <div class="col-lg-6 mt-4 text-center">
            <label class="m-4">
                Quiero
            </label>
            <select class="form-select form-select-lg mb-3" id="quiero">
                <option value="1">USD</option>
                <option value="2">LIBRA</option>
                <option value="3">EURO</option>
              </select>
        </div>
    </div>
    <h5 class="text-center mt-4">
        <span class="badge bg-success">1000 USD</span>
        <span class="badge bg-secondary">son</span>
        <span class="badge bg-success">800 EUROS</span>

    </h5>
</div>
