<div class="container">
    <div class="row">
        <div class="col-lg-3" style="margin :15px">
            <app-card-usuario></app-card-usuario>
        </div>
        <div class="col-lg-3" style="margin :15px">
            <app-card-usuario></app-card-usuario>
        </div>
        <div class="col-lg-3" style="margin :15px">
            <app-card-usuario></app-card-usuario>
        </div>
        <div class="col-lg-3" style="margin :15px">
            <app-card-usuario></app-card-usuario>
        </div>
    </div>
</div>