/* You can add global styles to this file, and also import other style files */
.titulo
{
    font-family: 'Raleway', sans-serif;
    color:white;
    text-align: center;
    margin-top: 25px;
}

.row
{
    margin-top: 25px;
}