<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listar Tarjeta</h5>
        <table class="table">
            <tbody>
                <tr *ngFor="let tarjeta of ListTarjeta">
                    <td>
                        {{tarjeta.Titular}}
                    </td>
                    <td class="float-xl-start">
                        {{tarjeta.NumeroTarjeta}}
                    </td>
                    <td>
                        {{tarjeta.FechaExpiracion}}
                    </td>
                    <td>
                        <i class="fas fa-user-edit green-icon" (click)="EditarTarjeta(tarjeta)"></i>
                    </td>
                    <td>
                        <i class="fas fa-trash-alt red-icon" (click)="EliminarTarjeta(tarjeta.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>