<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <input type="text" class="form-control form-control-lg" (keyup.enter)="AgregarTarea()"
                   placeholder="Ingrese una Tarea" [(ngModel)]="nombreTarea">
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3" >
            <div class="card p-2" *ngIf="listTareas.length === 0">
                <h6>No hay tareas para Mostrar</h6>
            </div>
        </div>
        <div class="mt-4">
            <ul class="list-group ">
                <li class="list-group-item d-flex justify-content-between" 
                    *ngFor="let tarea of listTareas; let i = index">
                    <span class="cursor" (click)="ActualizarTarea(tarea,i)">
                        <i [class.text-success]="tarea.estado === true" [ngClass]="tarea.estado ? 'fas fa-check-circle' : 'fas fa-circle-notch'"></i>
                        <!--<i class="fas fa-circle-notch"></i>
                        <i class="fas fa-check-circle"></i>-->
                    </span>
                        {{tarea.nombre}}
                    <span class="cursor text-danger">
                        <i class="far fa-trash-alt" (click)="EliminarTarea(i)"></i>
                    </span>
                </li>
              </ul>
        </div>
    </div>
</div>