<div class="container mt-4">
  <app-count-empleados [Todos]="ObtenerCantidad()"
                       [Masculino]="ObtenerCantidadMasculinos()"
                       [Femenino]="ObtenerCantidadFemeninos()"></app-count-empleados>
    <div class="card mt-4">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Legajo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Sexo</th>
                <th scope="col">Salario</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let empleado of ListEmpleado">
                <tr *ngIf="RadioButtonSeleccionado =='Todos' || RadioButtonSeleccionado == empleado.Sexo">
                  <th>{{empleado.Legajo}}</th>
                  <td>{{empleado.Nombre}}</td>
                  <td>{{empleado.Apellido}}</td>
                  <td>{{empleado.Sexo}}</td>
                  <td>{{empleado.Salario | currency}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
    </div>
</div>
