<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio1" value="Todos">
                <label class="form-check-label" for="inlineRadio1">Todos({{ObtenerCantidad()}})</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio2" value="Femenino">
                <label class="form-check-label" for="inlineRadio2">Femeninos({{ObtenerCantidadFemeninos()}})</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio3" value="Masculino">
                <label class="form-check-label" for="inlineRadio3">Masculinos({{ObtenerCantidadMasculinos()}})</label>
              </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Legajo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Sexo</th>
                <th scope="col">Salario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empleado of ListEmpleado">
                <th>{{empleado.Legajo}}</th>
                <td>{{empleado.Nombre}}</td>
                <td>{{empleado.Apellido}}</td>
                <td>{{empleado.Sexo}}</td>
                <td>{{empleado.Salario | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
