<div class="card">
    <div class="card-body">
        <h5 class="titulo">Crear Tarjeta</h5>
        <form>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-user-circle"></i>
                </span>
                <input type="text" class="form-control" placeholder="Titular" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-credit-card"></i>
                </span>
                <input type="text" class="form-control" placeholder="Numero Tarjeta" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="far fa-calendar-times"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Fecha de Expiracion" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Cvv" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button"> <i class="fas fa-server"></i> Agregar</button>
            </div>
        </form>
    </div>
</div>