<div class="row">
    <div class="col-lg-6">
        <h2>Agregar Empleado</h2>
    </div>
</div>
<!--<pre>{{myForm.value | json}}</pre>-->
<div class="row">
    <div class="col-lg-4">
        <form autocomplete="off" [formGroup]="myForm">
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]="16">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput formControlName="nombreCompleto">
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]="16">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="Correo">
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <input type="text" placeholder="Fecha de Ingreso" onfocus="(this.type='date')" class="form-control" formControlName="FechaIngreso">
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]="16">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="Telefono">
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select formControlName="EstadoCivil">
                        <mat-option *ngFor="let estadocivil of EstadosCiviles" [value]="estadocivil">
                            {{estadocivil}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Sexo" id="flexRadioDefault1" value="Masculino" formControlName="Sexo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Masculino
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Sexo" id="flexRadioDefault2" value="Femenino" formControlName="Sexo">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Femenino
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">

                <button type="button" class="btn btn-danger btn-block btn-lg float-end" style="margin-left: 10px;" routerLink="/">Cancelar</button>
                <button type="button" class="btn btn-primary btn-block btn-lg float-end" (click)="GuardarEmpleado()">Aceptar</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/Img/crear-usuario.jpg" width="95%" height="95%">
    </div>
</div>